#TituloPrincipal{
    background-image:url(https://www.publicdomainpictures.net/pictures/330000/nahled/technology-2020-1585159757ded.jpg) ;
    border-radius: 25vw 0vw 0vw 25vw;
    height:auto;
    display: flex;
    justify-content:left;
    align-items:center;
    margin: 5% 0 0 5% ;
    font: bold 1.5em/100% Helvética, Arial, sans-serif;
    color:rgb(250,250,250);
    padding: 0;
    gap:3%;
    overflow:visible;
    border:0;
    flex-wrap:nowrap;
}

nav{
    margin:2% 0 0 5%;
}
body{ background-color: rgb(255, 255, 255);
    color:rgb(214, 213, 213);
   
   }
h3{
    margin: 10px 0 10px 0; 
}
.barra{
    text-align:left;
    padding-left: 4%;
}
.datos,.competencias,.idiomas{
    min-height: 370px;
    padding: 2vw;
    border-radius:3vw;
    width:85%;
    background-color: #3f3e3b7e;
    word-wrap: break-word;
}
a{display: flex;
    align-items: center;
    gap:1%;
    width: auto;
}
.iconos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content:space-between;
}
ul p{
    margin:2% 0 2% 0;
}
p{
    text-align: justify;
    margin:4% 0 4% 0;
}
main{
    display:flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 5%;
    gap:2%;
    font:  1.5em/100% Helvética, Arial, sans-serif;
    font-size:1vw; 
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url(https://www.publicdomainpictures.net/pictures/330000/nahled/technology-2020-1585159757ded.jpg) ;
    margin: 5% 5% 0 5% ;
}
section{
    width:64%;
    display: flex;
    flex-direction: column;
}
li{
    text-align:justify;
    height:12px;
    line-height: 1.2;
    margin: 15px ;
   
}
ul{
margin: 0 auto;
}
h4,h5{
    margin:2%;
}
.ProgresoContenedor{
    display: flex;
    align-items: center;
    height: auto;
    width: 80%;
    overflow: hidden;
    background-color:#3f8fa3;
    border-radius: 25vw;
    border-color: black;
    border-width:  10px;
    border: 22vw;
    margin: 0 0.5vw 0 0.5vw;
}
.Progreso{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    background-color:#f0e89e;
    width: var(--porc);
    animation: Progress 5s ease-in-out;
    animation-delay: 1ss;
    animation-direction: forwards; 
    text-align: center;
    font-size: 12px;
    color: black;  
}
.conjunto{
    display: flex;
    align-items: center;
}
.programacion{
    --porc: 80%
}
.bd{
    --porc: 40%
}
.productos{
    --porc: 30%
}
.redes{
    --porc: 25%
}
.español{
    --porc: 100%
}
.ingles{
    --porc: 75%
}
.aleman{
    --porc: 30%
}
aside{
    display:flex ;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content:space-evenly;
    width:34%;
    background-color: #4e7bad;
   margin-top: 10px;
    border-radius: 3vw;
    gap: 3%;
}
span{
    font-size: 10px;
    margin: 0 2px 0 2px;
}
#profesion{
    margin-left: 0%;
    font: bold 1.5em/100% Helvética, Arial, sans-serif;
    font-size: calc(1.3rem + 1.5vw);
    text-decoration: none;
    text-align: center;
} 

#foto{
    height: auto;
    flex-grow: 1;  
}
.red{
    font-size: 2.3rem;
    margin: 3% 0 3% 0;
}
.etiqueta{
    font-size: 1rem;
}
.iconos a{
    color:white;
    width:auto;
    margin: 0vw 0VW 0 2VW;
    font-size: 1.5em/100% Helvética, Arial, sans-serif;
    text-decoration: none;
    
}

#face,#insta, #git, #linkedin{
    font: 1.5em/100% Helvética, Arial, sans-serif;
    text-align: left;
}

@keyframes Progress{

    0% {width: 0%;}

    100% {width: var(--porc)}
}
    
.ico{
    height: auto;
    font-size:2vw;
    width: auto;
}
.personal{
    display: flex;
    gap: 5%;
    align-items: center;
    word-wrap: break-word;
}
#lista{
    text-align:left;
    font-size: 1.2vw;
    line-height: 1.2;
    word-wrap: break-word;
}

#nombre{
    margin: 0 auto 1% auto;
    font-size: calc(1.9rem + 1.5vw);
    text-decoration: underline;
    text-align: center;
    position: relative;
    width:auto;
    line-height: 1.2;
    
}

h3{
    background-color:#4e7bad;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 25vw;
}
#titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    flex-grow:6;
}
.contenedor{
    background:radial-gradient(ellipse 85% 70%,rgba(227, 231, 233, 0.808),rgba(255, 255, 255, 0.185));
    color: rgb(97, 101, 104);
}
#imagenprincipal{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border-style: solid;
    border-width:2.5vw;
    border-color:rgb(255, 255, 255);
    padding: 0px;
    text-align: justify;
    left:0;
    transform: scale(1.2);
}
ul{
    padding-left: 2vw;
    padding-right: 2vw;
}
ul li{
    height: auto;  
}
#Email{
    height: auto;
    overflow-wrap:break-word;
    word-wrap: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}
.competencias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.chek{
    overflow-wrap: break-word;
    line-height: 1.2;

}
.social:hover{
    transform:scale(1.2) ;
}
.red:hover{
    transform:scale(1.2) ;
}
@media screen and (max-width: 800px){
    
aside{
    width: 100%;
    min-height: 1000px;
    height: auto;
    gap:0%;
    border-radius: 7vw;
    margin-bottom: 8%;

}
.datos{
    width:95%;
    min-height:320px;
    height: auto;
    border-radius: 5vw;
    
}
.competencias{
    width:95%;
    min-height:320px;
    flex-direction:column;
    height: 320px;
    border-radius: 5vw;
    padding-left: 35px;
    flex-wrap: nowrap;
}
.idiomas{
    width: 95%;
    min-height:320px;
    height: 280px;
    border-radius: 5vw;
    padding-left: 35px;
}
section{
    
    width: 100%;
}
p{
    margin: 10px;
}

.ico{
    font-size:3.5vw;
  }

}
@media screen and (max-width: 400px){
    #imagenprincipal{
        height: 90vw;
        width: 90vw;
        border-radius: 50%;
        margin-bottom: 20vw;
        border-width:7vw;    
    }
    #TituloPrincipal{
          border-radius: 45% 45% 0 0 ;
          flex-direction: column;
          justify-content:center;
          margin: 5% 5% 0 5% ;
          gap:0%;
          flex-wrap:wrap;
      }
      #nombre{
        font-size:50px;
        margin-bottom: 5%;
      }
      #titulos{
        justify-content: flex-end;
        height: auto;
      }
      #profesion{
        font-size: 30px;
      }
      .ico{
        font-size:6vw;
      }

}